@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{ font-size:16px;}
body,h1,h2,h3,h4,h5,h6,th,td,input,div,textarea { font-family:'나눔고딕', 'Nanum Gothic', sans-serif; font-size:12px;}
body{ width:100%;  background-color:#d5d5d5;}

body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,img { margin:0; padding:0;}
ul,ol,li { list-style:none;}
img { border:none}
a{ text-decoration:none; color:#333; cursor:pointer;}
a:visited{ color:none;}

input[type="button"]{ cursor:pointer}
 
p{font-size:1em}

.box_width{ width:95%; height:auto; margin:0 auto; }
.inputWrap{ width:95%; height:33px; border:1px solid #999; position:relative; }


.ellipsis {
width:100%;
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;
}

img { max-width: 100%; }





hr{ border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
}

*:focus{ outline:none;}

textarea{ width:100%; height:100%; box-sizing: border-box; padding:10px 20px; border:none; resize:none;}

 

.font-size{ font-size:.8em;}
.underline{ color:#333;}
.underline:visited{ color:#333;}
.underline:hover{ text-decoration:underline; }

.indent{ display:block; text-indent:-9999px; overflow:hidden; }

.inputStyle{ width:260px; height:30px; border:none;  background:#fff; position:relative; border-radius:30px;}
.input_in{ width:90%; height:24px; border:none; margin-left:10px;} 
.btnStyle{ width:60px; height:30px; border:none; background:#333; color:#eee; font:12px 'Raleway', sans-serif; cursor:pointer; border-radius:30px; }
.btnStyle2{ width:100px; height:30px; background:#666; color:#fff; text-align:center; border:none; font-size:14px; font-family:'Open Sans', sans-serif; font-weight:400; cursor:pointer;}

.btn_search{ width:16px; height:16px; position:absolute; right:10px; top:7px; z-index:3; background:url(../images/search.png); border:none; cursor:pointer;}

.btnStyle3{ width:60px; height:30px; float:right; margin-top:10px; color:#fff; background:none; border:1px solid #fff; border-radius:20px; cursor:pointer;}


.clear:after{ visibility:hidden; display:table; content:" "; font-size:0; clear:both; height:0; }




  .bubble {
    position: relative;
    width: 130px;
    height: 130px;
    padding: 0px;
    background:#444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:none;
}


  .bubble:after {
    content: "";
    position: absolute;
    top: -11px;
    left: 55px; 
    border-style: solid;
    border-width: 0 10px 11px;
    border-color: #444 transparent;
    display: block;
    width: 0;
    z-index: 1;
}









.pageTitle{ display:block; clear:both; font-size:20px; line-height:30px;  font-weight:500; text-indent:5px; margin-bottom:10px;}

.pageTitleIcon{ display:block; width:30px; height:30px; float:left;  background:url(../images/history.png) left center no-repeat; background-size:30px; }

.pageTitleNext:before{ content:"|"; margin:0 12px; color:#bbb; font-weight:lighter;}
.pageTitleNext a{ color:#999;}
.pageTitleNext a:hover{ color:#0F84CF;}
.showMyHistory a{ color:#333;}

#contentsWrap{ width:100%; height:auto; box-sizing: border-box; padding-left:230px; padding-bottom:100px; margin-top:50px; padding-top:20px; float:left; }
#contentsWrap:after{ visibility:hidden; display:table; content:" "; font-size:0; clear:both; height:0; }


#contentsWrap_nopd{ width:100%; height:auto; box-sizing: border-box; padding-left:230px;  margin-top:50px; padding-top:20px; float:left; }
#contentsWrap_nopd:after{ visibility:hidden; display:table; content:" "; font-size:0; clear:both; height:0; }

