#navigator{ box-sizing:border-box; width:100%; height:45px; border-bottom:1px solid #aaa; background-color:#f5f5f5; position:fixed; top:50px; z-index:5; padding:0 0 0 230px; }
#navigator p{ line-height:45px; font-size:16px; color:#666; background:url(../images/list.png) left center no-repeat; text-indent:26px; }
#navigator p span{ margin:0 0 0 5px; }
.contentS{ width:915px; margin-top:45px;}
.contentM{ width:auto; margin-top:45px;}


.cardWrap{ width:198px; /* min-height:368px;  */height:auto; background:#fff; overflow:hidden; float:left; margin-right:20px; margin-bottom:30px; box-shadow:0 1px 4px #999; position:relative;}


/*.card_hd{ width:100%; height:29px; border-bottom:1px solid #ccc; background:#f5f5f5;}*/

.card_img, .card_img a{ width:100%; height:100%; background:#eee;  }
.card_img a{ display:block; width:198px; height:198px;}
.card_img a img{ width:100%; height:100%;}

.card_hover{ width:100%; height:198px; background:rgba(0,0,0,.5); position:absolute; top:0;   box-sizing:border-box; padding:20px; overflow:hidden; z-index:2;}
.card_img p{ height:160px; overflow:hidden; line-height:20px; font-size:13px; color:#eee; display:none;}


.card_bd { width:100%; height:129px; box-sizing:border-box; padding:5px 10px; border-top:1px solid #ccc; }

.card_bd a:hover{ text-decoration:underline;}
.card_title{ width:100%; height:20px; padding-top:0px; line-height:20px; font-size:13px; font-family:'나눔고딕', 'Nanum Gothic', sans-serif; color:#333; font-weight:500;}

.card_dscrpt{ width:100%; height:30px; line-height:30px; font-family:'나눔고딕', 'Nanum Gothic', sans-serif; font-size:11px; color:#666; }
.card_date{ width:100%; height:20px; padding-bottom:5px; line-height:10px; font-family:'나눔고딕', 'Nanum Gothic', sans-serif; font-size:11px; color:#666; }

.card_tag{ width:100%; height:39px; line-height:25px; padding:10px 0; border-top:1px solid #ddd; font-family:'나눔고딕', 'Nanum Gothic', sans-serif; font-size:11px; color:#666; overflow:hidden;}


.p_like, .p_view{ display:inline-block; float:left; font-size:12px; line-height:39px;}
.p_like{ margin-right:15px;}

.p_like span, .p_view span{ display:inline-block; width:12px; height:39px; float:left; margin-right:2px;}
.p_like span{ background-image:url(../images/heart.png); background-position:center center; background-repeat:no-repeat; background-size:90%;}
.p_view span{ background-image:url(../images/read.png); background-position:center center; background-repeat:no-repeat; background-size:90%;}

.card_ct{ width:100%; height:39px; box-sizing:border-box; padding:0 10px; border-top:1px solid #ccc; background:#f5f5f5;}