@CHARSET "UTF-8";

.cardWrap_main{ width:380px; padding:0; margin-top:0;  background:#f5f5f5;}
.cardWrap_main #historyTitle_main{ box-sizing:border-box; width:100%; height:40px; padding:0 10px; background:#333; color:#fff; font-size:1.167em; line-height:40px; } 
.cardWrap_main #historyTitle_main span{ float:left;}
.cardWrap_main #historyTitle_main span.ellipsis{ display:inline-block; width:180px; color:#ccc; text-indent:5px;}

.cardWrap_main #historyTitle_main #btn_moreHistory{ float:right; width:70px; height:22px;}

.historyWrap_main{box-sizing:border-box; width:100%; margin:0; padding:0 20px; background-position:20px 0;}

.historyWrap_main .timeLineWrap{ width:100%; }

.historyWrap_main .timeCardWrap:first-child{ margin-top:20px;}
.historyWrap_main .timeCard{ width:310px; height:auto; min-height:200px; margin:0 0 30px 10px; overflow:visible; }

.historyWrap_main .timeCard_visualWrap{ width:100%; max-height:200px;}

.bxslider{ height:160px;}
.bxslider li{ width:100%; height:inherit; position:relative;}
.bxslider img{ max-height:100%; max-width:100%;  width:auto; height:auto; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}


.historyWrap_main .timeCard_content{ width:100%; height:40px; overflow:visible; }
.historyWrap_main .timeCard_more{ display:block; float:right; color:#888; font-size:11px;}

/* 최신 글 보기 */
.newestWrap{ width:495px;}
.newestWrap .newestWrap_bd{ box-sizing:border-box; padding:10px 20px 20px; border-bottom:1px solid #ccc; }
.newestWrap .newestWrap_bd .newestWrap_title{ height:20px; padding:0 0 5px 0; line-height:20px; border-bottom:1px solid #ddd; }

.btnStyle4{ float:right; box-sizing:border-box; width:50px; height:20px; line-height:10px; background:none; border:1px solid #aaa; border-radius:5px; color:#666; font-size:11px;}

.newest_contentWrap{ width:100%; height:80px; margin:10px 0 0 0;}
.newest_contentWrap img{ float:left;}

.newest_textWrap{ float:left; box-sizing:border-box; width:375px;; height:80px; padding:2px 10px;}
.newest_textWrap p{ width:100%; line-height:16px;}
.newest_textWrap p a{ display:inline-block; width:100%; line-height:16px;}
.newest_textWrap .newest_title{ font-weight:bold;}
.newest_textWrap .newest_title a:hover{ text-decoration:underline;}
.newest_textWrap .newest_content{ height:32px; margin:2px 0 6px; overflow:hidden;}
.newest_textWrap .newest_tag{ color:#999;}
