@charset "utf-8";
/* CSS Document */

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.preventScroll{ overflow:hidden;}


.modal_bg{ background-color:rgba(0,0,0,.7); width:100%; height:100%; position:fixed; z-index:100; display:none; cursor:pointer; position:fixed; overflow-y:hidden; } 
.modal_bg2{ background-color:rgba(0,0,0,.7); width:100%; height:100%; position:fixed; z-index:104; display:none; cursor:pointer; overflow-y:hidden; } 
.modal_scroll{ width:100%; height:auto;  cursor:pointer}
.modal_scroll:after{ visibility:hidden; display:table; content:" "; font-size:0; clear:both; height:0; }
.modal_bg *, .modal_scroll *{ cursor:auto;}
 
.modal_hd{ width:100%; height:50px; background:#555;}
.modal_bd{ width:100%; box-sizing:border-box;}

.loading_wrap{margin:250px auto;}
.project_loading{width:50px; margin:0 auto; display:none;}


.modal{ display:none; position:absolute; left:50%; top:50%; z-index:102; box-shadow:1px 1px 20px rgba(0,0,0,.8); background-color:#fff; box-sizing:border-box;}



/* .modal ID LIST */
#modal_login{ width:400px; height:350px; z-index:103; margin-left:-200px; margin-top:-175px;}
#modal_join{ display:none; width:400px; height:520px; margin-left:-200px; margin-top:-260px;}
#modal_findPw{ width:500px; height:200px; z-index:105; margin-left:-250px; margin-top:-100px;}
#modal_likeCategory, #modal_tool {
    width:400px; height:340px; z-index:105; margin-left:-200px; margin-top:-170px;
}

#writeNoteWrap{ width:600px; min-height:400px; display:none; margin-left:-300px; margin-top:-200px;}

#modal_writeDCategory{ width:300px; height:380px; margin-left:-150px; margin-top:-190px;}
#modal_writeEmbed{ width:600px; height:250px; margin-left:-300px; margin-top:-125px; }


/*로그인 모달*/
#modal_bd_login, #modal_bd_join{ height:360px; padding:20px 30px;}
#modal_bd_login{ padding-top:45px;}
.login_inputWrap{ width:340px; height:40px; border-radius:0; margin-bottom:10px;}

.login_inputWrap .login_smallBox{ display:block; width:40px; height:40px; background-color:#555; float:left;}

.inputStyle2{ width:280px; padding:0 10px; height:40px; float:left; border-left:0; background-color:#eee; border:none; color:#666; font-size:12px; }

.inputWrap_id .login_smallBox{ background-image:url(../images/id.png); background-position:center center; background-repeat:no-repeat; background-size:40%}
.inputWrap_pw .login_smallBox{ background-image:url(../images/password.png); background-position:center center; background-repeat:no-repeat; background-size:40%}

#inputWrap_name .login_smallBox{ background-image:url(../images/name.png); background-position:center center; background-repeat:no-repeat; background-size:55%}
#inputWrap_gender .login_smallBox{ background-image:url(../images/gender.png); background-position:center center; background-repeat:no-repeat; background-size:55%}
#inputWrap_studNum .login_smallBox{ background-image:url(../images/student.png); background-position:center center; background-repeat:no-repeat; background-size:60%}
#inputWrap_bookmark .login_smallBox{ background-image:url(../images/bookmark.png); background-position:center center; background-repeat:no-repeat; background-size:40%}
#inputWrap_tool .login_smallBox{ background-image:url(../images/tool.png); background-position:center center; background-repeat:no-repeat; background-size:55%}

#btn_mdLogin, #btn_mdJoinForm{ width:340px; height:40px; background:#555; margin-top:10px; margin-bottom:15px; }

#otherLoginWrap{ width:100%; /* height:32px; */ height:32px; margin-bottom:10px;}
#link_facebook{ display:block; width:32px; height:32px; background:url(../images/facebook.png) center center no-repeat; float:right;}
#otherLogin{ display:inline-block; line-height:32px; color:#999; font-size:11px; float:right; margin-right:10px;}
#btn_mdJoin{ width:338px; height:38px; background:#fff; margin-bottom:10px; border:1px solid #ccc; color:#666; margin-top:15px;}

#modal_bd_login p a{ line-height:20px; font-size:12px; color:#888;}
#modal_bd_login p a:hover{ color:#111;}



/*회원가입 모달*/
#joinTitle{ width:100%; height:32px; margin-bottom:10px; font-size:16px; line-height:32px; color:#666;}

.join_inputWrap{ width:auto; float:left; margin-right:0; }
.input_join{ width:105px; float:left; }
#inputWrap_gender{ margin-right:10px; font-size:12px; }

#selectWrap_gender, #selectWrap_bookmark{ border-radius:0; background-color:#eee; color:#666; width:125px; height:40px; line-height:40px; float:left;   }

#selectWrap_bookmark{ width:300px;   }

#btn_mdJoinForm{ margin-top:40px;}







/*카테고리 모달-글쓰기창*/




.modal_hd_dCategory{ width:100%; height:40px; line-height:25px; font-size:16px; box-sizing:border-box; padding:15px 20px 0; background:#fff; }

.modal_bd_dCategory{ width:100%; height:280px; padding:15px 20px; overflow-y:scroll;}
.modal_bd_dCategory::-webkit-scrollbar{ display:none;}

.modal_bd_dCategory ul{ display:block; width:95%; height:auto; float:left;}
.modal_bd_dCategory ul li{ width:100%; height:20px; margin-bottom:10px; line-height:25px; clear:both;}

.modal_bd_dCategory label{
    width:85%; font-size:12px; float:left; line-height:20px; margin-left:5px; }

.label_category{ width:150px;}
.btn_category {
    float:right; width:70px;
}

#btn_addBookmark,#btn_addTool {
    text-align:left; width:300px; cursor:pointer;
}


#modal_writeDCategory ul {
    width:260px;
}
#modal_writeDCategory ul li {
    width:260px;
}
#modal_writeDCategory ul li .label_category {
    width:210px;
}

#modal_bd_writeDCategory {
    height:315px;
}


#modal_bd_writeEmbed { height:205px; padding:0; padding-top:10px; }
#modal_bd_writeEmbed textarea{ width:100%; height:190px;  background:#eee;}




/* 비밀번호 찾기 모달 */    
#modal_findPw_hd{ height:80px; background:#fff; box-sizing: border-box; padding:40px 30px 0;}
#modal_findPw_bd{ height:90px; box-sizing: border-box; padding:20px 30px;}

#textWrap_findPw{ width:440px; }
#modal_findPw_bd input[type="text"]{ width:340px; float:left;}


#btn_pwSend{ width:80px; height: 40px; float:left;}

