

#writeNoteWrap_hd{  width:100%; height:50px;  line-height:50px; box-sizing:border-box; padding:0 20px; font-family:'Open Sans', sans-serif; font-size:14px; color:#eee; background:#29AE5D;}
#writeNoteWrap_hd input{ width:60px; height:30px; float:right; margin-top:10px; color:#fff; background:none; border:1px solid #fff; border-radius:20px; cursor:pointer;}

#writeNoteWrap_bd{ width:100%; height:350px;}
#writeNoteWrap_bd #input_noteTo{ width:100%; height:49px; box-sizing: border-box; border:none; border-bottom:1px solid #ccc; padding:0 20px;}
#writeNoteWrap_bd textarea{ height:300px; }



#cardWrap_note{ width:800px; min-height:400px; height:auto;}

#card_note_hd{ height:50px; background:#29AE5D;}
#card_note_hd a{ display:block; float:left; width:200px; height:50px; text-align:center; line-height:50px; font-size:14px; background:#fff; color:#666; border-right:#ccc;}

#card_note_hd a.btn_receiveView{  }

#card_note_hd a.btn_sendView{  background:#29AE5D; color:#fff;}

.btn_noteView{ background:#0F84CF;  color:#fff;}


#btn_writeNote{ width:80px; margin-right:20px;}
#btn_writeNote:hover{ background:rgba(255,255,255,.2); }

.card_note_bd{ width:100%; min-height:350px; height:auto; box-sizing:border-box; padding:40px 0 20px 20px;}


#card_sendNote_bd{ display:none;}



.noteWrap{ width:760px; min-height:150px; height:auto; box-shadow:0 1px 2px rgba(0,0,0,.5);  position:relative; margin-bottom:25px;}
.noteWrap_hd{ width:100%; height:60px;  background:#fff; box-sizing: border-box; padding:10px 20px;}


.noteId{ font-size:16px; line-height:25px;}
.noteDate{ font-size:12px; color:#999;}

.noteWrap_bd{ width:100%; height:60px; box-sizing: border-box; padding:10px 20px; overflow:hidden;}

a.noteMore{ display:block; width:60px; position:absolute; z-index:200; right:20px; bottom:5px; line-height:30px; text-align:center; font-size:14px; color:#666; display:none; font-weight:bold; color:#29AE5D;}

.btn_note{ display:block; position:absolute; right:65px; top:10px; width:35px; height:35px; border-radius: 50%; border:1px solid #999; font-size:12px; line-height:35px; text-align:center;} 

.btn_note:hover{ background:#f3f3f3;}
.btn_deleteNote{ right:20px;}

.no_note{width:100%; font-size: 14px; text-align: center; margin-top:10px;}

/* 쪽지모달 자동완성*/
.msgAutoCompleteBox{width:200px; font-size:13px; background-color:#fff; border:1px solid #cfcbcb; display:none; border-radius:4px; padding:5px 7px; position:absolute; top:98px; left:0;}
.msgAutoCompleteBox li{margin:6px 0;}
.msgAutoCompleteBox li:hover{background-color:#BEE4F5;}