/*콘텐츠 모달-글보기창*/
#modal_content{ width:850px; height:auto; float:left; margin:0 10px 0 0;  min-height:400px; background:#f5f5f5; }
.projectViewBox{ float:left; height:100%; background:#f5f5f5; padding-bottom:20px;}
#projectViewBox_left{ width:600px; background:#fff; box-sizing:border-box; border-right:1px solid #ddd;}
#projectViewBox_right{ width:250px; min-height:400px; height:100%; background:#f5f5f5;  overflow:hidden;  }


#modal_hd_content{ background-color:#fff; height:140px;  box-sizing:border-box;  padding:20px 5%; position:relative;}

#content_categoryWrap{ font-size:12px; color:#999; padding-bottom:25px;  }
#modal_hd_content h2{ font-size:18px; font-weight:800;  }
#modal_hd_content h3{ display:block; float:left; font-size:12px; color:#888; font-weight:600; margin-top:8px;}
#modal_hd_content h3#content_userId, #modal_hd_content h3#content_date{ margin-right:10px; color:#333;}
#modal_hd_content h3#content_userId a:hover{ text-decoration: underline; }
#modal_hd_content h3#content_userId:after, #modal_hd_content h3#content_date:after{ content:'|'; margin-left:10px; color:#ccc;}
#modal_hd_content h3#content_date, #content_hits{ color:#888;}


#contentHeart{ width:50px; height:50px; border-radius:50%; border:1px solid #999; position:absolute; top:40px; right:30px; overflow:hidden; }
#contentHeart img{ margin:11px 9px;}
#heartNum{ display:block; width:50px;  text-align:center; font-size:11px;position:absolute; top:95px; right:30px; }

/* 글 내용 - 컨텐츠 */
#modal_bd_content{ width:auto; height:auto; margin:0 5% 30px;}
#modal_bd_content #content_imgWrap{ width:100%; min-height:500px; height:auto; }
#modal_bd_content #content_imgWrap img, #modal_bd_content p, #content_imgWrap iframe{ margin:0 auto 15px; line-height:20px;}
#content_imgWrap iframe{ width:540px;}
#modal_bd_content *{ display:block;/*display: inline-block*/ margin:0 auto 10px;}


#content_tagWrap{width:100%; min-height:60px; height:auto; padding:0; margin-top:20px;}
#content_tagWrap p{ width:100%; font-weight:600; font-size:16px; line-height:30px;}
#content_tagWrap span{ display:inline-block; width:auto; height:20px;  line-height:20px; margin-right:5px; border-radius:8px; padding:5px 8px; background:#999; color:#fff; margin-bottom:8px; font-size:12px;}

#modal_content hr{ margin-bottom:20px;}


#modal_ft_content{ width:100%; min-height:80px; height:auto; box-sizing: border-box; padding:0 5%;  }

#writeReplyWrap{ width:100%; height:60px; padding:20px 0; }
#writeReplyWrap textarea { width:85%; height:60px; background:#eee; float:left;}
#writeReplyWrap input{ width:15%; height:60px; border:none; background:#0f84cf; color:#fff; float:left; cursor:pointer;}


.replyContentWrap{ width:100%; min-height:60px; height:auto; padding-bottom:10px;}
.replyContentWrap p{  padding-bottom:3px; border-bottom:1px solid #ccc;  position:relative; }
.replyContentWrap p a{ line-height:20px; font-size:14px; font-weight:600; }

.replyContentWrap p .btn_deleteReply{ position:absolute; background-color:#666; color:#fff; text-align:center; text-indent:0; border-radius:50%; margin-left:10px; width:15px; height:15px; border:1px solid #eee; font-weight:400; line-height:15px; font-size:12px;  }

.replyContentWrap p span{ color:#999; font-size:12px; font-weight:500; float:right; padding-right:10px;}

.replyContentWrap .replyContent{ width:100%; min-height:30px; height:auto; box-sizing: border-box;  padding:5px 0; font-size:12px; line-height:20px;}



/* 프로젝트뷰 - 정보창 */
.writerWrap a:hover, .projectWrap a:hover{ text-decoration:underline; }
.writerWrap, .projectWrap{ box-sizing:border-box; padding:30px 20px; }
.writerWrap{ background:#fff;  border-bottom:1px solid #ddd; box-shadow:0 3px 5px #ddd; }
.writerWrap h1, .projectWrap h1{ font-size:16px; font-weight:normal; padding:0 0 10px 0;  color:#666; }
.writerWrap h2{ font-size:12px; font-weight:normal; box-sizing:border-box; margin:0 0 20px 0; color:#666; line-height:16px; }

.writerWrap h4{ font-size:14px; font-weight:bold; color:#999; padding:20px 0 0 0; }
.writerWrap h5{ font-size:12px; font-weight:normal; line-height:20px; color:#666;}

.lineWrap{ padding:0 0 4px 0;}
.lineWrap:last-child{ padding:0;}
.lineWrap h3{ display:inline-block; float:left; width:148px; font-size:12px; font-weight:normal; line-height:16px; color:#666; word-break:break-all; }
.lineWrap span{ display:block; width:60px; float:left;  color:#999; line-height:16px; }


.projectWrap hr{ margin:20px 0;}

.projectTeamWrap{ padding:0 0 9px 0; }
.projectTeamWrap h2 a, .projectTeamWrap h3{ display:inline-block; float:left; font-size:12px; color:#666; line-height:20px; }
.projectTeamWrap h3{ font-weight:normal; }
.projectTeamWrap h3:before{ content:'|'; margin:0 8px; color:#ccc; }
.projectTeamWrap h4{ clear:both; font-size:11px; font-weight:normal; line-height:16px; color:#888; word-break:break-all; }


