@charset "utf-8";
/* CSS Document */

html, body{ width:100%; height:100%; font-size:12px;}
#header{ width:100%; height:40px; padding-top:10px; background-color:#222; position:fixed; z-index:10;}
#headerWrap{ width:502px; height:30px; margin-right:20px; float:right; box-sizing:border-box; }


#search_main, #btn_login, #select_main, #text_main, #bellWrap{ float:left; }
#btn_login{ width:70px;}
#search_main{ width:360px; margin-right:20px; }
#select_main{ width:85px; height:24px;}
#text_main{ width:60%; height:24px;}
.searchAutoCompleteBox{width:60%; line-height:20px; font-size:14px; background-color:#fff; border:1px solid #cfcbcb; display:none; border-radius:4px; padding:5px 7px; position:absolute; top:30px; left:0;}
.searchAutoCompleteBox li{margin:8px 0;}
.searchAutoCompleteBox li:hover{background-color:#BEE4F5; cursor: pointer;}

#selectWrap_main{ width:103px; padding-left:10px; height:22px; float:left; line-height:22px; margin-top:3px; margin-left:3px; background:#fff; border-radius:30px; font-size:12px; border:1px solid #999;}


.btn_close{ display:block; float:right;  width:5%; height:30px; background:url(../images/close.png) center right no-repeat; background-size:auto 70%; display:none;}

/* searchTerm */
.searchTermWrap{ display:none; width:100%; min-height:80px; box-sizing:border-box; padding:15px 30px 5px 240px; position:absolute; top:50px; left:0; background:#333; box-shadow:0 2px 4px rgba(0,0,0,0.5); border-bottom:1px solid #222; overflow:hidden;}


/* teamSearchWrap*/
.teamSearchWrap>div{ width:100%; min-height:30px; padding:0 0 9px 0;}
.teamSearchWrap span{ display:inline-block; width:125px; height:30px; line-height:30px; float:left; color:#eee;}
.team_category, .team_techWrap{ width:700px; min-height:30px; float:left;}
.team_category>input[type="button"]{ width:92px; font-size:12px; margin:0 5px 0 0; color:#eee;}
.btn_555{ background:#555;}
.btn_222{ background:#222;}
.team_category>input[type="button"]:last-child{ margin-right:0;}
.team_category>input[type="button"]:hover{ background:#222;}


/* team_techWrap */
.team_techWrap{ display:none; width:700px; border:1px solid rgba(255,255,255,.1); border-radius:5px; line-height:30px; box-sizing:border-box; padding:0 10px; background:rgba(0,0,0,.2)}
.team_techWrap.techWrap_game{ display:block; }

.team_techWrap div{ width:auto; float:left;}
.team_techWrap input[type="radio"]{ display:block; float:left; margin:9px 4px 0 0;}
.team_techWrap label{ min-width:80px; float:left; margin:0 15px 0 0; color:#aaa; }



#aside{ width:210px; height:100%; background:#222; box-sizing:border-box; position:fixed; z-index:12; }


/* #logoIcon{ display:block; position:relative; width:95%; height:100%; float:left;  */
/* margin-right:20px;  background-image:url(../images/mediolio.png); background-position:center center; background-repeat:no-repeat; } */
#logoWrap{ width:100%; height:50px; background:#111;}
.asideWrap{ width:190px; padding-left:20px;}

#uploadWrap{ width:100%; height:60px; background:#444; }

.categoryTitle{ height:25px; background:#111;}
.categoryTitle p{ font:12px/25px 'Open Sans', sans-serif; color:#999; font-weight:bold;}

.categoryWrap{ width:210px; }


#userBox{ height:90px; background:#222;  }
#userBox #user_idWrap{ width:100%; height:40px; background-image:url(../images/user.png); background-position:left center; background-repeat:no-repeat; background-size:7.5%;  }
#userBox #user_idWrap a{ display:inline-block; line-height:40px;  font-size:12px; font-family:'Open Sans', sans-serif; font-weight:bold; color:#eee; margin-left:20px; }
#userBox #user_idWrap a:hover{ text-decoration:underline;}

#userBox ul li{ float:left; width:35px; height:35px; margin-right:10px; }
#userBox ul li#myPf{ background:#e64c3c; background-image:url(../images/myPortfolio.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#likePf{ background:#e17d25; background-image:url(../images/like.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#follow{ background:#f4c10f; background-image:url(../images/follow.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#message{ background:#29ae5d; margin-right:0; background-image:url(../images/message.png); background-position:center center; background-repeat:no-repeat;}

#userBox ul li#unlog_myPf{ background:#A6A6A6; background-image:url(../images/myPortfolio.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#unlog_likePf{ background:#A6A6A6; background-image:url(../images/like.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#unlog_follow{ background:#A6A6A6; background-image:url(../images/follow.png); background-position:center center; background-repeat:no-repeat;}
#userBox ul li#unlog_message{ background:#A6A6A6; margin-right:0; background-image:url(../images/message.png); background-position:center center; background-repeat:no-repeat;}

#userBox ul li a{width:35px; height:35px; }
#userBox ul li.logon a{cursor:pointer;}

a#uploadPf{ display:block; width:100%; height:60px; font-size:13px; font-family:'나눔고딕', 'Nanum Gothic', sans-serif;  color:#ddd; line-height:60px; text-indent:20px; letter-spacing:1px; text-align:center; background:url(../images/write.png) 30px center no-repeat;}



.nav_title{ height:40px; letter-spacing:1px; font-weight:400; color:#ccc; padding-left:20px; cursor:pointer; font-size:15px; font-family:'Open Sans', sans-serif; line-height:40px;}
.nav_title span{ display:block; float:left; margin-right:10px; width:20px; height:40px; background-position:0 center; background-repeat:no-repeat;}
#ct_project span{ background-image:url(../images/project.png);}
#ct_game span{ background-image:url(../images/game.png);}
#ct_video span{ background-image:url(../images/video.png);}
#ct_sound span{ background-image:url(../images/sound.png);}
#ct_webApp span{ background-image:url(../images/web.png);}
#ct_design span{ background-image:url(../images/design.png);}
#ct_3d span{ background-image:url(../images/_3d.png);}
#ct_misc span{ background-image:url(../images/graphics.png);}

.choose_menuText{ color:#fff; background-color:#0f84cf;	}


.nav_sub li{ height:25px; line-height:25px; text-indent:25px; background:#111;}
.nav_sub li a{ font-family:'나눔고딕', 'Nanum Gothic', sans-serif; font-size:12px; color:#999;}
.nav_sub li a:hover{ color:#eee;}
.nav_selected{ background-position:-20px center;}







/* 쪽지 페이지 */
.rmcnWrap{ position:fixed; right:40px; bottom:20px; width:40px; height:100px; z-index:1;}
.btn_rmcn{ display:block; width:40px; height:40px; background:#fff; margin-bottom:5px; box-sizing: border-box; border:1px solid #999; border-radius:10px; box-shadow:1px 1px 5px rgba(0,0,0,.5); }

#btn_rmcnUp{ background-image:url(../images/up_grey.png); background-repeat:no-repeat; background-position:center center; }
#btn_rmcnDown{ background-image:url(../images/down_grey.png); background-repeat:no-repeat; background-position:center center; }


/* 유저 팝업창 */
.userPopWrap{ display:none; width:auto; position:fixed; top:0; left:0; background:#fff; border:1px solid #ccc; box-shadow:1px 1px 3px rgba(0,0,0,.2); z-index:100;}
.userPopWrap li{ box-sizing:border-box; border-bottom:1px solid #eee;}
.userPopWrap li:last-child{ border:none;}
.userPopWrap li a{ display:inline-block; width:100px; line-height:20px; text-align:center; color:#666;  }
.userPopWrap li a:hover{ background:#f9f9f9; }



/* 알림 */
#bellWrap{ position:relative; }
#bellWrap #bellIcon{ display:block; position:relative; float:left; width:30px; height:30px; margin:0 20px 0 0;  background-image:url(../images/bell.png); background-position:center center; background-repeat:no-repeat; background-size:95%; }
#bellWrap #bellIcon span#bellNum{ display:block; position:absolute; z-index:15; top:0; right:0; width:15px; height:15px; border-radius:50%; background:red; color:#fff; font-size:9px; text-align:center; line-height:15px;}



#bellWrap #bubble_bell{ position:absolute; z-index:17; top:35px; left:-15px; box-sizing: border-box;  min-width:420px; width:auto; max-width:500px; height:150px; background:#fff; box-shadow:1px 1px 8px rgba(0,0,0,.3); border:1px solid #eee; border-radius:0; overflow-y:hidden; }
#bellWrap #bubble_bell::-webkit-scrollbar { display: block; }

#bellWrap #bubble_bell .bellContent li{ box-sizing:border-box; width:100%; min-height:30px; height:auto; padding:10px 0; outline:none; line-height:20px; float: left;}
#bellWrap #bubble_bell .bellContent li:hover{ background:#f8f8f8; }

#bellWrap #bubble_bell .bellContent li a{ display:block; box-sizing:border-box; min-width:200px; width:auto; max-width:500px; height:auto; padding:0 0 0 10px; color:#666; font-size:12px;  }

#bellWrap .bell_what{float:left; margin : 0 0 0 10px; font-weight: bold;}
#bellWrap .bell_what span {color: #365899; }
#bellWrap .bell_prjname{font-weight: bold; margin : 0 4px;}
#bellWrap .msg_text{float:left; margin : 0 0 0 10px; }
#bellWrap .bell_date{width : 120px; float:right; margin : 0 20px; text-align: right;}

#bellWrap #bubbleAfter{ display:none; content:""; position:absolute; top:29px; z-index:1; left:5px; width:0; border-style:solid; border-width:0 10px 11px; border-color:#fff transparent;}



/* 벨 탭 */
.bellTab{ position:fixed; z-index:10; width:420px; height:30px; background:#fff; border-bottom:1px solid #ccc;  box-shadow:0 2px 2px #eee; background:#f7f7f7;; }

.bellTab li{ float:left; box-sizing:border-box; width:33.333%; height:30px; border-right:1px solid #ddd; }
.bellTab li:last-child{ border-right:none;}
.bellTab li a{ display:block; line-height:30px; text-align:center; color:#ccc;}
.bellTab li a:hover{ color:#333;}
.bellTab li a.click{ color:#333; background:#eee;}
.bellContent{ display:none; margin:30px 0 0 0;}
.bellContent#bellContent01{ display:block;}

