.writeWrap{ width:900px; height:auto;}

.cardWindow{ width:680px; min-height:640px; height:auto; background:#fff;  float:left;  box-shadow:0 1px 4px #999; margin-right:20px;}
.writeWrap .cardWrap{ margin-right:0;}

.cardWindow_hd{ width:100%; height:39px; border-bottom:1px solid #ccc; background:#333; line-height:39px; box-sizing:border-box; padding:0 20px; font-family:'Open Sans', sans-serif; font-size:14px; color:#eee;}
#write_hd{ width:100%; height:40px; border-bottom:1px solid #ccc; background:#fff; box-shadow:0 1px 3px #eee;}

#write_category{ width:129px; padding-left:20px; height:100%; border-right:1px solid #ccc; line-height:39px; font-size:12px; float:left;}


#write_title{ width:100%; height:40px; border-bottom:1px solid #ccc; box-sizing:border-box; padding-top:5px; padding-left:10px; }
#write_title input{ font-size:12px;}

#write_dCategory{ width:450px; height:auto;float:left;}
#write_dCategory a {
    display:block; width:100%; height:100%; font-size:12px; line-height:39px; box-sizing:border-box; padding-left:20px; color:#666;
}

#write_bd{ width:100%; min-height:480px; height:auto; border-bottom:1px solid #ccc; position:relative; box-sizing: border-box; padding:60px 20px 40px; }

#write_ft{ width:800px; min-height:40px; height:auto; overflow:auto;}
#write_tagTitle{ width:39px; height:inherit; float:left; background:#666; border-right:1px solid #ccc; line-height:40px; text-align:center; font-family:'Open Sans', sans-serif; font-size:20px; font-weight:400; color:#fff; }


#write_tag{ width:760px; min-height:40px; height:auto; float:left; box-sizing:border-box; padding:5px 10px;}
#write_tagBox{width:100%;}
.write_tagArea{display:block; float:left; position:absolute; }

.autoCompleteBox{width:auto; font-size:13px; background-color:#fff; border:1px solid #cfcbcb; display:none; border-radius:4px; padding:5px 7px; position:absolute; top:30px; left:0;}
.autoCompleteBox li{margin:6px 0;}
.autoCompleteBox li:hover{background-color:#BEE4F5;}
#write_tagTxt{ display:inline-block; min-width:0; width:auto; max-width:740px; min-height:30px; height:auto; overflow:auto; float:left;}
#write_tagTxt span{ display:block; width:auto; height:20px; padding:5px; float:left; font-size:14px; margin-right:5px; position:relative;}
#write_tagTxt span:hover{background-color:#e0eef6; color:#529ecc; font-weight:bold;}
#write_tagTxt span::before{content:"#";}
#write_tagInput{ display:inline-block; width:auto; height:20px; padding:5px; position:absolute; left:0; font-size:14px;}

.autoClass{top:262px; left:339px; z-index:3;}
.autoMember{left:0; width:109px; top:32px; z-index:2;}

/*글쓰기 추가 버튼, 말풍선*/
.btn_circle{ display:block; width:40px; height:40px; background:#0F84CF; border-radius:50%; box-shadow:1px 1px 3px #ccc;}

#btn_addWrite{ position:absolute; top:10px; left:20px; background-image:url(../images/pencil.png); background-position: center center; background-repeat: no-repeat; background-size:50%; }

  .bubble {
    position: relative;
    width: 130px;
    height: 130px;
    padding: 0px;
    background:#444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:none;
}


  .bubble:after {
    content: "";
    position: absolute;
    top: -11px;
    left: 55px; 
    border-style: solid;
    border-width: 0 10px 11px;
    border-color: #444 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

#bubble_addWrite{ position:absolute; z-index:2; top:50px; left:-25px; box-sizing: border-box; padding-top:5px;}

#bubble_addWrite li{ width:100%; height:40px; line-height:40px;  border-top:1px solid #555; }
#bubble_addWrite li:first-child{ border:none;}

#bubble_addWrite li a{ display:block; width:100%; height:100%; color:#eee; font-size:12px; box-sizing:border-box; padding-left:10px; text-indent:35px;}
#bubble_addWrite li a:hover{ background:#333;}


#bubble_addWrite li a#btn_addFile{ background-image:url(../images/upload.png); background-position:15px center; background-repeat: no-repeat; background-size:12%;}
#bubble_addWrite li a#btn_addFile input[type="file"]{ display:block; width:130px; height:40px; top:0; left:0; opacity:0; position:absolute; z-index:5; cursor:pointer;}


#bubble_addWrite li a#btn_addMedia{ background-image:url(../images/embed.png);  background-position:13px center; background-repeat:no-repeat; background-size:16%;}

#bubble_addWrite li a#btn_addText{ background-image:url(../images/text.png);  background-position:16px center; background-repeat:no-repeat; background-size:10%;}








/*텍스트 툴박스*/

.write_textarea{ width:100%; min-height:80px; height:auto; position:relative; box-sizing: border-box; padding:10px; margin-bottom:20px; box-shadow:0 0 5px #0F84CF;}

.text_toolBoxes, .content_toolBoxes { 
    width:350px; height:40px; position:absolute; background:#333; top:20px; display:none; }
#text_toolBox{ width:230px; right:140px; top:-41px;}

#content_toolBox{width:120px; right:20px;}

.text_toolBoxes li, .content_toolBoxes li{  float:left; width:39px; height:40px; line-height:40px; line-height:40px;  text-indent:10px; color:#fff; border-right:1px solid #555;}

.text_toolBoxes li:hover, .content_toolBoxes li:hover{ background:#111;}


.text_toolBoxes li a, .content_toolBoxes li a{ display:block; width:100%; height:100%; }
#text_toolBox li#text_size{ width:70px; font-size:12px; border:none;}

#text_toolBox li#text_size ul{ border:1px solid #ccc; }
#text_toolBox li#text_size ul li{ color:#333; border-left:none;}
#text_toolBox li#text_size ul li:hover{ background:#f5f5f5;}


#text_toolBox li#text_color a{ background-image:url(../images/color.png); background-position:center center; background-repeat: no-repeat; }
#text_toolBox li#text_bold a{ background-image:url(../images/bold.png); background-position:center center; background-repeat: no-repeat; background-size:35%; }
#text_toolBox li#text_italic a{ background-image:url(../images/italic.png); background-position:center center; background-repeat: no-repeat; background-size:35%; }
#text_toolBox li#text_under a{ background-image:url(../images/underline.png); background-position:center center; background-repeat: no-repeat; background-size:40%; }


#text_up a{ background-image:url(../images/up.png); background-position:center center; background-repeat: no-repeat; background-size:45%; }
#text_down a{ background-image:url(../images/down.png); background-position:center center; background-repeat: no-repeat; background-size:45%; }
#text_delete a{ background-image:url(../images/delete.png); background-position:center center; background-repeat: no-repeat; background-size:45%; }


.text_position{ width:30px; height:30px; border-radius:50%; background:#333; position:absolute; z-index:3; left:50%;}


.write_submitWrap{ width:100%; height:50px; clear:both; box-sizing:border-box; margin:40px 0 0 0; padding:0 100px 0 0; }

.write_submit{ width:200px; height:40px; border:none; font-size:14px; box-shadow:1px 1px 3px rgba(0,0,0,.5);}
#submit_step1{  background:url(../images/prev.png) 20px center no-repeat;  background-color:#eee;  text-indent:20px; float:left; }
#submit_step2{  background:url(../images/next_wh.png) 20px center no-repeat;  background-color:#0F84CF; color:#fff; text-indent:20px; float:right;}
#submit_portfolio {  background:#0F84CF; color:#fff; float:right;}


.hrMargin{ margin-bottom:20px;}

.contentBox{ margin-bottom:60px; width:auto; height:auto; position:relative;}
.contentBox iframe{ display:block; margin:0 auto;}
.viewerBg{background-color:#767575; height:740px; width:570px; position:absolute; left:0; right:0; margin:0 auto;}

#cover_img{ position:absolute; z-index:100; width:200px; height:200px; cursor:pointer; opacity:0;}
#text_uploadCover{ position:absolute; display:inline-block; width:200px; height:20px; top:140px; 
color:#fff; line-height:20px; text-align:center; font-size:14px; font-weight:500; z-index:99;}







/* 텍스트 스타일 적용 클래스 */
.txtBold{font-weight:bold;}
.txtBoldRemove{font-weight:normal;}
.txtItalic{font-style:italic;}
.txtItalicRemove{font-style:normal;}
.txtUnderline{text-decoration:underline;}
.txtUnderlineRemove{text-decoration:blink;}
