/* layout */
.cardWindow_write2{ width:900px; min-height:280px; overflow:auto; padding-bottom:0;}
.writeLineWrap{ width:100%;/*680px*/ min-height:40px; border-bottom:1px solid  #ccc; }

.writeLineWrap .writeLine_1{ width:90px; height:100%; float:left; box-sizing:border-box; text-align:center; border-right:1px solid #ccc; line-height:40px;}

.writeLineWrap .writeLine_2{ width:810px; min-height:inherit; float:left; box-sizing:border-box; padding:5px 20px;}

.writeLineWrap .writeLine_2 .twoCell{ width:340px; height:30px; box-sizing:border-box; float:left; }
.writeLineWrap .writeLine_2 .twoCell:first-of-type{ margin-right:10px;}
.writeLineWrap .writeLine_2 .threeCell{ width:428px; height:inherit;box-sizing:border-box; float:left; }
.writeLineWrap .writeLine_2 .threeCell.shortCell{ width:125px; border-right:1px solid #ccc; position:relative;}

.writeLongLineWrap{ min-height:120px; height:auto; overflow:auto;}
.writeLineWrap .writeLine_1Long{ width:89px; border-right:none; }
.writeLineWrap .writeLine_2Long{ border-left:1px solid #ccc; }


.writeLine_text{ width:100%; height:28px; box-sizing: border-box; border:none; float:left;  }
.writeLine_textarea{ padding:5px 0; overflow:auto; }



.dateSpan{ display:inline-block; width:30px; line-height:30px; font-size:12px; float:left; margin-right:10px;}
input[type="date"].writeLine_text{ font-size:12px; border: 1px solid #ccc; margin-right:10px; box-sizing:border-box; padding:0 10px;}
.writeLineWrap .writeLine_2 a{ display:inline-block; width:100%; height:30px; line-height:30px;}

#teamMateGroup{ position:relative;}
.write_teamMateWrap{ width:700px; height:30px; float:left; box-sizing:border-box; border:1px solid #ccc; margin:5px 10px 0 0; }
.write_teamMateWrap:first-child{ margin-top:0;}
.write_teamMateWrap input[type="text"]{ padding:0 10px; float:left;}
#btn_addTeamMate{ width:58px; height:30px; position:absolute; right:20px; bottom:5px;  border:none; font-size:14px; background:#666; color:#fff;   }


.writeLineWrap .writeLine_2Long textarea{ min-height:110px; overflow-y:hidden;}


#submit_step1, #submit_portfolio{ margin:30px 0 0 0;}


#navigator .writeNavi{ background:none; text-indent:0;}
#navigator .writeNavi a{ font-weight:normal; font-size:13px; color:#aaa;}
#navigator .writeNavi a:hover{ color:#333;}
#navigator .writeNavi a.click{ color:#333; text-decoration:underline;}
#navigator .writeNavi b{ font-weight:normal; margin:0 10px; color:#999; font-size:12px;}